@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14.3% 4.1%;
    --card: 60 50% 95%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 60 50% 95%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 60 56% 91%;
    --secondary: 180 25% 90%;
    --secondary-foreground: 180 100% 25.1%;
    --muted: 180 25% 95%;
    --muted-foreground: 24 9.8% 30.5%;
    --accent: 195 53% 79%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 180 25% 85%;
    --input: 180 25% 88%;
    --ring: 180 100% 25.1%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 202 30% 12%;
    --foreground: 60 56% 91%;
    --card: 202 30% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 202 30% 12%;
    --popover-foreground: 60 56% 91%;
    --primary: 180 80% 50%;
    --primary-foreground: 202 30% 12%;
    --secondary: 180 25% 20%;
    --secondary-foreground: 180 80% 50%;
    --muted: 180 25% 22%;
    --muted-foreground: 60 56% 70%;
    --accent: 195 53% 49%;
    --accent-foreground: 60 56% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 180 25% 22%;
    --input: 180 25% 20%;
    --ring: 180 80% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
